<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson04.dao.SellerDAO">
 	
 	<insert id="insertSeller" parameterType="map">
		INSERT INTO `seller`
		(
			`nickname`
			,`profileImageUr-1`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{nickname}
			, #{profileImageUr-1}
			, #{temperature}
			, NOW()
			, NOW()
		)		
 	</insert>
 	
 	<!-- 2번 -->
 	<select id="selectLatestSeller" resultType="com.quiz.lesson04.model.Seller">
 			SELECT
			`id`
			,`nickname`
			,`profileImageUr-1`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM 
			`seller`
		ORDER BY `id` DESC
		limit 1
 	</select>
 	
 	<!-- 3번 -->
 	<select id="selectSellerInfo" parameterType="int" resultType="com.quiz.lesson04.model.Seller">
 			SELECT
			`id`
			,`nickname`
			,`profileImageUr-1`
			,`temperature`
			,`createdAt`
			,`updatedAt`
		FROM 
			`seller`
		where 
			`id` = #{id}
 	</select>
 </mapper>